@tailwind base;
@tailwind components;
@tailwind utilities;

.HomeContainer{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.ChildContainer{
  width:fit-content;
  height: 250px;
  margin: 70px;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}
.exploremore{
  border: 2px solid black;
  font-size: 25px;
  padding: 10px;
  background-color: rgb(147, 205, 207);
}
.green{
  color:  teal;
}
.profilepicture{
    width: 280px;
    height: 280px;
    border-radius: 50%; 
    margin-bottom: 20px;
    margin-right: 55px;
}
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 80px;
  background-color: cadetblue;
  color: white;
}
h2{
  font-size: 50px;
  padding-left: 70px;
  align-content: center;
}
.portfoliocolor{
  color:  teal;
}
h1{
  font-size: 30px;
  text-align: center;
  font-style: bold;
}
.MainHeadings{
  font-size: 30px;
  text-align: center;
  font-style: bold;
  border: 3px solid black;
  width: 20%;
  margin-left: 40%;
}
.skillsParent{
  display:block;
}
.skillsContainer{
  display: block;
  border: 2px solid black;
  border-radius: 50px;
  justify-content: center;
  padding: 30px;
  margin: 20px;
  text-align: center;
  font-size: x-large;
  color: white;
  background-color: cadetblue;

}
p{
  text-align:justify center;
}
.aboutme{
  margin-top: 15%;
}
.parentPicture{
  display: flex;
  justify-content: space-between;
}
.leftpicture{
  height: 300px;
  width: 300px;
  margin: 80px;
}
.centerpicture{
  height: 300px;
  width: 300px;
  margin: 80px;
}
.rightpicture{
  height: 300px;
  width: 300px;
  margin: 80px;
}
.right{
  font-size: 30px;
  text-align: center;
  font-style: bold;
  width: 20%;
  margin-left: 40%;
  color: teal;
}
.center{
  font-size: 30px;
  text-align: center;
  font-style: bold;
  width: 20%;
  margin-left: 35%;
  color: teal;
}
.left{
  font-size: 30px;
  text-align: center justify;
  font-style: bold;
  width: 20%;
  margin-left: 38%;
  color: teal;
}

.MainContact{
  display: flex;
}
.contactus{
  height: 350px;
  width: 300px;
  border-radius: 30px;
  margin-left: 150px;
  margin-top: 70px;
  justify-items: center;

}
.contactpicture{
    height: 700px;
    width: 700px;
    margin-bottom: 10px;
    margin-left: 110px;
    margin-top: 40px;
}
.design{
  height: 80px;
  width: 400px;
  border-radius: 70px;
  padding: 20px ;
  margin: 8px;
background-color: rgb(221, 243, 243);
}
.designMessage{
  height: 140px;
  width: 400px;
  border-radius: 20px;
  padding: 20px ;
  margin: 8px;
background-color: rgb(221, 243, 243);
}
.button{
  height: 60px;
  width: 150px;
  justify-content: center;
  border-radius: 50px;
  margin: 8px;
  background-color:cadetblue;
  
}
.h1contact{
  color: teal;
  margin-left: 100px;
  font-size: 35px;
}
.Footer{
  height: 250px;
  width: 100%;
  background-color: cadetblue;
}
.footer-text{
  font-style: bold ;
  text-align: center;
  font-size: 40px;
  padding: 30px;
}
.footer-icons{
  height: 20px;
  width: 20px;
}
.social-profiles{
  display: flex;
  width:15%;
  justify-content: space-between;
  margin-left: 42%;
}
.footer-text-last{
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
@media (max-width:800px){
  .contactpicture{
    width: 80vw;
  }
  .contactpicture{
    display: none;
  }
}
